*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #ECE3D8
}

h1{
  text-align: center;
  margin:  2rem 0 2rem 0;
}

.wrapper{
  display: flex;
  justify-content: space-around;
}

.calculation{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40VW
}



.illustration{
  position: relative;
  display: flex;
  align-items: center;
  width: 60VW;
}

.contsruction-img{
  width: 100%;
}


.el-circle{
  position: absolute; 
  top: 40.6%;           
  left: 45%;         
  width: 8.5%;     
  height: auto;       
}
/* 0.01m = 4.25% of width */

/* 1 % width = -0.5% of left */

/* 1 % width = -1.5% of left */

@media (max-width: 850px){
  .wrapper{
    flex-direction: column;
    align-items: center;
    gap: 3rem
  }

  .calculation {
    width: 95vw;
  }

  .illustration {
    width: 95vw;
  }
  
}
